.background-staff {
    background-image: url('../img/equipeci.jpg');
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.background-staff h1 {
    color: orangered;
    font-size: 50px;
    font-weight: 700;
}

.rondcarre {
    height: 120px;
    width: 1350px;
    background-color: white;
    transform: translate(50px, -110px);
    border-radius: 50px 50px 0 0;
}

.staff {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.card-staff {
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.card-staff img{
    height: 300px;
    width: 250px;
    object-fit: cover;
}


.text-staff {
    height: 70px;
    background-color: #9cae9f;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-staff h4{
    font-size:15px; ;
}

.emerse {
    display: flex;
    gap: 40px;
}


.entraineurs {
    display: flex;
    gap: 40px;
}


.preparateurs {
    display: flex;
    gap: 40px;
}




@media only screen and (max-width: 1300px) {

    .background-staff h1 {
        color: orangered;
        font-size: 50px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 1205px;
        background-color: white;
        transform: translate(50px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

}

@media only screen and (max-width: 1200px) {

    .background-staff h1 {
        color: orangered;
        font-size: 50px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 1110px;
        background-color: white;
        transform: translate(50px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

}

@media (max-width:1100px) {
    .background-staff h1 {
        color: orangered;
        font-size: 50px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 995px;
        background-color: white;
        transform: translate(50px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}

@media (max-width:1000px) {
    .background-staff h1 {
        color: orangered;
        font-size: 50px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 895px;
        background-color: white;
        transform: translate(50px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {

    .background-staff h1 {
        color: orangered;
        font-size: 50px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 805px;
        background-color: white;
        transform: translate(50px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

}

@media only screen and (max-width: 800px) {

    .background-staff h1 {
        color: orangered;
        font-size: 50px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 695px;
        background-color: white;
        transform: translate(50px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

}

@media (max-width:600px) {
    .background-staff h1 {
        color: orangered;
        font-size: 50px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 500px;
        background-color: white;
        transform: translate(40px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    
}

@media (max-width:500px) {
    .background-staff h1 {
        color: orangered;
        font-size: 40px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 420px;
        background-color: white;
        transform: translate(40px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    
}

@media (max-width:540px) {
    .background-staff h1 {
        color: orangered;
        font-size: 40px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 480px;
        background-color: white;
        transform: translate(40px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    
}

@media (max-width:430px) {
    .background-staff h1 {
        color: orangered;
        font-size: 40px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 350px;
        background-color: white;
        transform: translate(40px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    
}

@media (min-width:300px) {
    .background-staff h1 {
        color: orangered;
        font-size: 40px;
        font-weight: 700;
    }

    .rondcarre {
        height: 110px;
        width: 315px;
        background-color: white;
        transform: translate(40px, -110px);
    }

    .emerse {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .entraineurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .preparateurs {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    
}